src/main/resources/SendSms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="sms_send_service" targetNamespace="http://www.sms.org/send_sms/service" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.sms.org/send_sms/service" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"  >

<wsdl:binding name="SendSmsBinding" type="tns:SendSms">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendSms">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sms.org/send_sms/service">
      <xsd:element name="sendSmsRequest">
      <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addresses" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="senderName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendSmsResponse">
      <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
           
        </xsd:schema>
  </wsdl:types>
  
  
 	<wsdl:message name="SendSms_sendSmsRequest">
		<wsdl:part  element="tns:sendSmsRequest" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="SendSms_sendSmsResponse">
		<wsdl:part name="result" element="tns:sendSmsResponse"/>
	</wsdl:message>
  
  
  <wsdl:portType name="SendSms">
    <wsdl:operation name="sendSms">
      <wsdl:input message="tns:SendSms_sendSmsRequest"/>
      <wsdl:output message="tns:SendSms_sendSmsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:service name="SendSmsService">
    <wsdl:port name="SendSms" binding="tns:SendSmsBinding">
      <soap:address location="http://localhost:9080/Sms/services/SendSms"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
